# Import Library

In [1]:
import pandas as pd 
from pycaret.classification import *
import mlflow
from mlflow.models import infer_signature

# Membuat Mlflow Experiment

In [2]:
mlflow.set_tracking_uri(uri="http://127.0.0.1:5000")
mlflow.set_experiment("Mlflow Experiment")

# Menampilkan Dataset

In [3]:
dataset = pd.read_csv('heart_cleveland_upload.csv')
dataset

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2,1
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2,1
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2,1
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2,1

# Proses Train Model

In [7]:
fitur_cat = ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'thal']
setup_data = setup(data = dataset, target = 'condition', categorical_features=fitur_cat, session_id=123)

In [8]:
best_model = compare_models(sort='Prec.', exclude=['catboost', 'xgboost','tr'])

# Mengisi Mlflow Experiment

## Exp 1

In [9]:
mlflow.autolog()

with mlflow.start_run():
    lr = create_model('lr', tol=0.0001)
    mlflow.end_run()

2024/04/14 18:13:29 WARNING mlflow.utils.autologging_utils: You are using an unsupported version of lightgbm. If you encounter errors during autologging, try upgrading / downgrading lightgbm to a supported version, or try upgrading MLflow.
2024/04/14 18:13:29 INFO mlflow.tracking.fluent: Autologging successfully enabled for lightgbm.
2024/04/14 18:13:29 WARNING mlflow.utils.autologging_utils: You are using an unsupported version of statsmodels. If you encounter errors during autologging, try upgrading / downgrading statsmodels to a supported version, or try upgrading MLflow.
2024/04/14 18:13:30 INFO mlflow.tracking.fluent: Autologging successfully enabled for statsmodels.
2024/04/14 18:13:30 WARNING mlflow.utils.autologging_utils: You are using an unsupported version of sklearn. If you encounter errors during autologging, try upgrading / downgrading sklearn to a supported version, or try upgrading MLflow.
2024/04/14 18:13:32 INFO mlflow.tracking.fluent: Autologging successfully enabled for sklearn.

## Exp 2

In [10]:
mlflow.autolog()

with mlflow.start_run():
    lr = create_model('lr', tol=0.01)
    mlflow.end_run()

2024/04/14 18:13:54 WARNING mlflow.utils.autologging_utils: You are using an unsupported version of lightgbm. If you encounter errors during autologging, try upgrading / downgrading lightgbm to a supported version, or try upgrading MLflow.
2024/04/14 18:13:54 INFO mlflow.tracking.fluent: Autologging successfully enabled for lightgbm.
2024/04/14 18:13:54 WARNING mlflow.utils.autologging_utils: You are using an unsupported version of statsmodels. If you encounter errors during autologging, try upgrading / downgrading statsmodels to a supported version, or try upgrading MLflow.
2024/04/14 18:13:54 INFO mlflow.tracking.fluent: Autologging successfully enabled for statsmodels.
2024/04/14 18:13:54 WARNING mlflow.utils.autologging_utils: You are using an unsupported version of sklearn. If you encounter errors during autologging, try upgrading / downgrading sklearn to a supported version, or try upgrading MLflow.
2024/04/14 18:13:55 INFO mlflow.tracking.fluent: Autologging successfully enabled for sklearn.

## Exp 3

In [11]:
mlflow.autolog()

with mlflow.start_run():
    lr = create_model('lr', tol=0.005)
    mlflow.end_run()

2024/04/14 18:14:10 WARNING mlflow.utils.autologging_utils: You are using an unsupported version of lightgbm. If you encounter errors during autologging, try upgrading / downgrading lightgbm to a supported version, or try upgrading MLflow.
2024/04/14 18:14:10 INFO mlflow.tracking.fluent: Autologging successfully enabled for lightgbm.
2024/04/14 18:14:10 WARNING mlflow.utils.autologging_utils: You are using an unsupported version of statsmodels. If you encounter errors during autologging, try upgrading / downgrading statsmodels to a supported version, or try upgrading MLflow.
2024/04/14 18:14:10 INFO mlflow.tracking.fluent: Autologging successfully enabled for statsmodels.
2024/04/14 18:14:10 WARNING mlflow.utils.autologging_utils: You are using an unsupported version of sklearn. If you encounter errors during autologging, try upgrading / downgrading sklearn to a supported version, or try upgrading MLflow.
2024/04/14 18:14:10 INFO mlflow.tracking.fluent: Autologging successfully enabled for sklearn.